.bg-body-tertiary {
    background-color: #60835e;
  }

.navbar {
    background-color: #60835e;
}

  .navbar-brand {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color:white;
  }

  .nav-link {
    color: black; /* Change this to your preferred link color */
  }
  
  #basic-nav-dropdown:hover {
    transform: scale(1.22);
  }
  .basic-nav-nodropdown:hover {
    transform: scale(1.22);
  }

  .desc {
    margin-bottom: 22px;
  }

.contactJoin {
  width: 212px;
  height: 56px;
  background-color: #18a0fb;
  font-size: 18px;
  color: white;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  transition: 0.28s;
}

.contactJoin:hover {
    transform: scale(1.8);
    transform-origin: top; /*기준점*/
  }

.logo {
    padding-top: 50px;
}